<div ng-if="report">
<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">SMART DAWASCO</h6>
    <h2 class="dashhead-title">Report: #{{ report.service_request_id  }}</h2>
    <hr>
  </div>
</div>
</div>

<div class="text-center text-warning">{{ pageStatusMessage }}</div>

<!-- Form Module-->
<div class="module form-module add-report">
  <div class="form" >
    <form class="" ng-submit="updateReport()">
    <div class="row">
    <div class="col-sm-12">
    <div class="col-sm-6">
      <legend>Call Details</legend>
      <div class="form-group">
        <label>Start time:</label>
        <input class="form-control" type="text" name="startDate" ng-model="report.call_start_time" ng-disabled="true"/>
      </div>
      <div class="form-group">
        <label>End time:</label>
        <input class="form-control" type="text" name="endDate" ng-model="report.call_end_time" ng-disabled="true"/>
      </div>

      <legend> Client details</legend>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" name="clientName" ng-model="report.name" ng-disabled="true"/>
      </div>
      <div class="form-group">
        <label>Account number</label>
        <input class="form-control" type="text" name="accountNumber" ng-model="report.account_number" ng-disabled="true"/>
      </div>

      <div class="form-group">
        <label>Phone</label>
        <input class="form-control" type="text" name="phoneNumber" ng-model="report.phone" ng-disabled="true" ng-disabled="true"/>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" name="email" ng-model="report.email" ng-disabled="true"/>
      </div>

      <legend> Location</legend>
      <div class="form-group">
        <label>Address:</label>
        <input class="form-control" type="text" name="address" ng-model="report.address" ng-disabled="true"/>
      </div>
      <div class="form-group">
        <label>Area:</label>
        <span>{{ report.agency_responsible }}</span>
      </div>
      </div>
      <div class="col-sm-6">
      <legend> Complaint</legend>

      <div class="form-group">
        <label>Category:</label>
        <select class="form-control" ng-model="report.service_code"
            ng-options="item.service_code as item.service_name for item in serviceCodes"
            ng-disabled="true">
        </select>
      </div>
      <div class="form-group">
        <label>Complaint Details</label>
        <textarea class="form-control" rows="5" id="complaintDetails" ng-model="report.description" ng-disabled="true"></textarea>
      </div>

      <legend>Follow-up</legend>
      <div class="form-group">
        <label>Status:</label>
        <select class="selectpicker form-control form-control-sm" name="status" ng-model="report.service_notice">
          <option value="Open"> Open </option>
          <option value="In progress"> In progress </option>
          <option value="Sent to area"> Sent to area </option>
          <option value="Completed"> Completed </option>
        </select>
      </div>
      <div class="form-group">
        <label>Actions taken:</label>
        <textarea class="form-control" rows="4" id="actionsTaken" ng-model="report.status_notes"></textarea>
      </div>
      <div class="form-group">
        <label>Assigned to:</label>
        <select class="selectpicker form-control form-control-sm" name="assignedTo" ng-model="report.assigned_to">
          <option value="Call Center Supervisor"> Call Center Supervisor </option>
          <option value="Regional Manager"> Regional Manager </option>
          <option value="Control Room"> Control room </option>
          <option value="Engineer"> Engineer </option>
          <option value="Customer Care"> Customer care </option>
          <option value="Billing Officer"> Billing officer</option>
          <option value="Commercial Officer"> Commercial officer</option>
        </select>
      </div>
      <div class="form-group">
        <label>Mode of forwarding:</label>
        <select class="selectpicker form-control form-control-sm" name="forwadingMode" ng-model="report.forward_mode">
          <option value="Email">Email </option>
          <option value="Phone">Phone</option>
          <option value="SMS"> SMS</option>
        </select>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="feedback" ng-model="report.feedback" ng-true-value="1" ng-false-value="0"> Feedback to customer
        </label>
      </div>
      </div>
      </div>
      </div>

      <button type="submit">Update</button>

    </form>

  </div>

</div>

<br><br>
</div>

<div ng-if="!report">
    <h1 class="text-muted text-center">{{ pageStatusMessage }}</h1>
</div>
